# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Go
*.exe
*.test
*.out
bin/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/.terraform.lock.hcl

# Docs
docs/site/
site/

# Grafana
monitoring/grafana-data/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store

# Env / secrets
.env
.env.*
!.env.example
